<h1>Update Song: <%= @song.name %></h1>

<form action="/songs/<%= @song.slug %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">


</form>

<%= 'checked' if @song.genre_ids.include?(genre.id) %>

value="<%= @song.artist.name %>"
